extends ../../views/layout

block content
  .row
    .two.columns
      ul.side-nav
        caption: h5.subheader REST API
        //-
          li: a(href="#general") General
          li: a(href="#location") Locations
          li: a(href="#slides") Slides
          li: a(href="#users") Users

    .ten.columns
      h1.subheader API Documentation
      p
        | All RESTful API access is over HTTPS and accessed via&nbsp
        a(href="https://ten.jit.su.com/") https://ten.jit.su.com/api

      h2.subheader Github Docs:
      h3.subheader
        a(href="http://github.com/tenproject/ten-api-docs") github.com/tenproject/ten-api-docs


      h2.subheader Implemented Routes:

      h4.subheader GET
      ul
        for route in routes.get
          li: a(href="#{route.path}") #{route.path}


      if routes.post
        h4.subheader POST
        ul
          for route in routes.post
            li: a(href="#{route.path}") #{route.path}

      if routes.put
        h4.subheader PUT
        ul
          for route in routes.put
            li: a(href="#{route.path}") #{route.path}

      if routes.delete
        h4.subheader DELETE
        ul
          for route in routes.delete
            li: a(href="#{route.path}") #{route.path}

