<h2 class="subheader">{{location.name}}</h2>
<h3 class="subheader">Location info</h3>
{{#properties location}}{{/properties}}

<h3 class="subheader">Slides</h3>
{{#unless slides}}
No slides for {{location.name}}
{{/unless}}
{{#each slides}}
  <li><a href="/{{this.organization}}/slides/{{this._id}}">{{this.title}}</a></li>
{{/each}}
