extends ../../views/layout

block append head
  - if (location)
    script
      window.delete = function() {
        $.ajax({
          type: "DELETE",
          url: "/locations/edit/#{location._id}",
          beforeSend: function (request) {
              request.setRequestHeader('X-CSRF-Token', '#{csrftoken}');
          },
        }).success(function( obj, status, xhr ) {
          window.location.replace("/locations");
        }).error(function(XMLHttpRequest, textStatus, errorThrown) {
          alert("Status: " + textStatus);
          alert("Error: " + errorThrown);
        });
      };

block content
  .row
    .eight.columns
      - if (location)
        h3.subheader Edit Location - #{location.name}
        form(action="/locations/edit/#{location._id}", method="POST")
          input(type='hidden', name='_csrf', value='#{csrftoken}')
          .row
            .large-12.columns
              h4.subheader Location Name:
              input.eight(type='text', name="name", placeholder='e.g. Trottier #1', value='#{location.name}')
          .row
            .large-12.columns
              h4.subheader Building Name of Location:
              input.eight(type='text', name="building", placeholder='e.g. Trottier Engineering Building', value='#{location.building}')
          .row
            .large-12.columns
              h4.subheader Remarks:
              textarea(type='text', name='remarks', placeholder="e.g. Facing cafeteria", rows="4") #{location.remarks}

          br

          .row
            .large-12.columns
              input.button(type="submit", value="Save Changes") Submit
              &nbsp;
              a.button(value="Cancel", href="/locations") Cancel
              a.button.right(value="Delete Slide", onclick='var x = confirm("Confirm Deletion of #{location.name}"); if (x) { window.delete(); }') Delete
      - else
        h4.subheader Location Not Found
