extends ../../views/layout

block content
  .row
    h3.subheader Locations
    table.twelve
      thead
        tr
          th Name
          th Building
          th Author
          th Status
      tbody
        - if (typeof locations == "object")
          for location in locations
            tr(onclick="window.location.href = '/locations/edit/#{location._id}'")
              td= location.name
              td= location.building
              td
                if (location.user)
                  a(href='/users/#{location.user._id}') #{location.user.username}
              td: a(href="#{location.status}") #{location.status}
        - else
          tr
            td
              h4.subheader No Locations