extends ../../views/layout

block content
  .row
    h3.subheader
      | Locations
      - if (typeof organization == "string")
        |  for #{organization}
    - if (locations)
      table.twelve
        thead
          tr
            th Name
            th Building
            th Author
            th Status
        tbody
          for location in locations
            //- tr(onclick="window.location.href = '/locations/edit/#{location._id}'")
            tr
              td= location.name
              td= location.building
              td
                if (location.user)
                  a(href='/users/#{location.user._id}') #{location.user.username}
              td: a(href="#{location.status}") #{location.status}
    - else
      h4.subheader No Locations