extends ../../views/layout

block content
  .row
    h3.subheader Locations
    table.twelve
      thead
        tr
          th Title
          th Description
          th Author
          th Source
          th Location
          th Status
          th Submission Date
      tbody
        - if (typeof slides == "object")
          for slide in slides
            tr(onclick="window.location.href = '/slides/edit/#{slide._id}'")
              td= slide.title
              td= slide.description
              td
                if (slide.user)
                  a(href='/users/#{slide.user._id}') #{slide.user.username}
              td: a(href="#{slide.source_url}") #{slide.source_url}
              td
                each location in slide.location
                  span= capitalize(location)
                  br
              td= capitalize(slide.status)
              td= formatDate(slide.time_created)
        - else
          tr
            td
              h4.subheader No Slides