extends ../../views/layout

block content
  .row
    .twelve.columns
      h3.subheader View Profile
      h5.subheader ID: #{user._id}
      h5.subheader Username: #{user.username}
      h5.subheader Full name: #{user.firstname} #{user.lastname}
      h5.subheader Email: #{user.email}
      h5.subheader Join Date: #{formatDate(user.time_created)} - #{user.time_created}
