extends ../../views/layout

block content
  .row
    .large-12.columns
      - if (typeof msg !== "undefined")
        .alert-box.alert #{msg}

  .row
    .large-12.columns
      h3.subheader Create a new Slide

  .row
    .large-8.columns
      form.custom(action="/slides/create", method="POST")
        input(type='hidden', name='_csrf', value='#{csrftoken}')

        //- TITLE
        .row
          .large-12.columns
            h5.subheader Slide Title:
            input(type='text', name="title", placeholder='e.g. Meet Buddy Event')

        //- DESCRIPTION
        .row
          .large-12.columns
            h5.subheader Slide Description:
            input.eight(type='text', name="description", placeholder='e.g. Engineering Study Buddy Program')

        //- ORGANIZATION
          .row
            .large-12.columns
              h5.subheader Organization:
              select(name="organization", class="small")
                if organizations
                  each organization in organizations
                    option(value="#{organization._id}") #{organization.remarks}

        //- LOCATIONS
        .row
          .large-12.columns
            h5.subheader Location:
            if locations
              each location in locations
                <label for="checkbox#{location._id}"><input type="checkbox" id="checkbox#{location._id}" style="display: none;" value="#{location._id}" name="location[]"><span class="custom checkbox"></span> #{location.organization.name}/#{location.name}</label>

        br

        //- SOURCE URL
        .row
          .large-12.columns
            h5.subheader Source URL:
            input.eight(type='text', name="source_url", placeholder='e.g. http://placehold.it/1920x1080', value="http://placehold.it/1920x1080")

        //- UPLOAD BUTTON
        .row
          .large-12.columns
            h5.subheader Upload (accepted formats: .jpg, .jpeg, .png):
            input(type="file", name="file")

        br

        //- REMARKS
        .row
          .large-12.columns
            h5.subheader Remarks:
            textarea(type='text', name="remarks", placeholder="e.g. Special requests or remarks goes here", rows="4")

        br
        br

        //- SUBMIT BUTTON
        .row
          .large-12.columns
            input.button(class="success", type="submit") Submit
            &nbsp;
            a.button(value="Cancel", href="/console") Cancel
