extends ../../views/layout

block append head
  script
    window.delete = function() {
      $.ajax({
        type: "DELETE",
        url: "/slides/edit/#{slide._id}",
        beforeSend: function (request) {
            request.setRequestHeader('X-CSRF-Token', '#{csrftoken}');
        },
      }).success(function( obj, status, xhr ) {
        window.location.replace("/slides");
      }).error(function(XMLHttpRequest, textStatus, errorThrown) {
        alert("Status: " + textStatus);
        alert("Error: " + errorThrown);
      });
    };

block content
  .row
    .eight.columns
      - if (slide)
        h3.subheader Edit Slide - #{slide.title}
        form.custom(action="/slides/edit/#{slide._id}", method="POST")
          input(type='hidden', name='_csrf', value='#{csrftoken}')
          //- TITLE
          .row
            .large-12.columns
              h5.subheader Slide Title:
              input(type='text', name="title", placeholder='e.g. Meet Buddy Event', value="#{slide.title}")

          //- DESCRIPTION
          .row
            .large-12.columns
              h5.subheader Slide Description:
              input.eight(type='text', name="description", placeholder='e.g. Engineering Study Buddy Program', value="#{slide.description}")

          //- ORGANIZATION
            .row
              .large-12.columns
                h5.subheader Organization:
                select(name="organization", class="small")
                  if organizations
                    each organization in organizations
                      option(value="#{organization._id}") #{organization.remarks}

          //- LOCATIONS
          .row
            .large-12.columns
              h5.subheader Location:
              if locations
                each location in locations
                  - if (_.some(slide.location, location._id))
                    <label for="checkbox#{location._id}"><input type="checkbox" id="checkbox#{location._id}" style="display: none;" value="#{location._id}" name="location[]" CHECKED><span class="custom checkbox"></span> #{location.organization.name}/#{location.name}</label>
                  - else
                    <label for="checkbox#{location._id}"><input type="checkbox" id="checkbox#{location._id}" style="display: none;" value="#{location._id}" name="location[]"><span class="custom checkbox"></span> #{location.organization.name}/#{location.name}</label>

          br

          //- SOURCE URL
          .row
            .large-12.columns
              h5.subheader Source URL:
              input.eight(type='text', name="source_url", placeholder='e.g. http://placehold.it/1920x1080', value="#{slide.source_url}")

          //- UPLOAD BUTTON
          .row
            .large-12.columns
              h5.subheader Upload (accepted formats: .jpg, .jpeg, .png):
              input(type="file", name="file")

          br

          //- REMARKS
          .row
            .large-12.columns
              h5.subheader Remarks:
              textarea(type='text', name="remarks", placeholder="e.g. Special requests or remarks goes here", rows="4")

          br
          br
          .row
            .large-12.columns
              input.button(type="submit", value="Save Changes") Submit
              &nbsp;
              a.button(value="Cancel", href="/slides") Cancel
              a.button.right(value="Delete Slide", onclick='var x = confirm("Confirm Deletion of #{slide.title}"); if (x) { window.delete(); }') Delete
      - else
        h4.subheader Slide Not Found
