extends ../../views/layout

block content
  .row
    h3.subheader List of Slides

    a(href="/slides/create") Create A New Slide

  br

  .row
    h3.subheader Your Submitted Slides
  .row
    table.large-12
      thead
        tr
          th Title
          th Description
          th Author
          //- th Source
          th Location
          th Status
          th Submission Date
          th Actions
      tbody
        - if (my_slides && my_slides.length)
          for slide in my_slides
            //- tr(onclick="window.location.href = '/slides/edit/#{slide._id}'")
            tr
              td= slide.title
              td= slide.description
              td
                if (slide.user)
                  a(href='/users/#{slide.user._id}') #{slide.user.username}
              //- td: a(href="#{slide.source_url}") #{slide.source_url}
              td
                each location in slide.location
                  a(href='/slides?location=#{location._id}') #{location.name}
                  br
              td !{tagStatus(slide.status)}
              td= formatDate(slide.time_created)
              td
                ul.inline-list
                  li
                    a(href="/slides/#{slide._id}") show
                  li
                    a(href="/slides/edit/#{slide._id}") edit
        - else
          tr
            td
              h4.subheader No Slides

  - if (slides)
    .row
      h3.subheader Submissions by others
    .row
      table.large-12
        thead
          tr
            th Title
            th Description
            th Author
            //- th Source
            th Location
            th Status
            th Submission Date
            th Actions
        tbody
          - if (slides && slides.length)
            for slide in slides
              //- tr(onclick="window.location.href = '/slides/edit/#{slide._id}'")
              tr
                td= slide.title
                td= slide.description
                td
                  if (slide.user)
                    a(href='/users/#{slide.user._id}') #{slide.user.username}
                //- td: a(href="#{slide.source_url}") #{slide.source_url}
                td
                  each location in slide.location
                    a(href='/slides?location=#{location._id}') #{location.name}
                    br
                td !{tagStatus(slide.status)}
                td= formatDate(slide.time_created)
                td
                  ul.inline-list
                    li
                      a(href="/slides/#{slide._id}") show
                    - if (slide.user._id == user._id || user.isAdmin)
                      li
                        a(href="/slides/edit/#{slide._id}") edit
          - else
            tr
              td
                h4.subheader No Slides
  .row
    dl
      dt: strong Status Legend
      dd
        span.label Submitted
        |  We have recieved your submission and will be reviewing it
      dd
        span.label Rejected
        |  Submission did not meet requirements. Please read slide comments
      dd
        span.label.success Online
        |  Slide is being displayed at designated locations
      dd
        span.label.alert Offline
        |  Slide is not displayed on any monitors
      dd
        span.label.secondary Expired
        |  Slide approved online duration has expired
      dd
        span.label.secondary Draft
        |  Saved slides which have not yet been submitted for approval